@charset "utf-8";

* {
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    box-sizing: border-box;
    list-style-type: none;
}

@font-face {
    font-family: raleway;
    src: url(/font/Raleway-VariableFont_wght.ttf);
}

:root {
    --cor1: #0D0D0D;
    --cor2: #688EA6;
    --cor3: #405F73;
    --cor4: rgb(199, 100, 100);
}

body {
    width: 100%;
    height: 100%;

    padding: 25px;

    background-color: rgb(199, 100, 100);

    font-family: raleway;

    display: flex;
    justify-content: space-around;

}

/* ASIDE */

.aside-conteiner {
    width: 250px;
    height: 550px;

    background-color: white;

    border: 2px solid black;
    border-radius: 10px;

    padding: 10px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.603);
}

.list-aside {
    width: 90%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    margin-top: 10px;
}
.list-aside li {
    margin: 7px 0px;

    cursor: pointer;

    font-weight: bold;
}
.list-aside a {
    color: #0D0D0D;
}
.list-aside a:hover {
    color: #688EA6;
}

/* MAIN */

.main-conteiner {
    width: 1000px;

    border: 2px solid black;
    border-radius: 10px;

    background-color: white;

    display: flex;
    flex-direction: column;

    padding: 10px;

    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.603);
}

.nav-main {
    width: 100%;
    height: 30px;

    display: flex;
    flex-direction: row;
    
    margin: 3px 0px;
    border-bottom: 3px solid black;
}
.nav-main ul {
    display: flex;

    align-items: center;
}
.nav-main li {
    margin-right: 40px;

    font-weight: bold;
}

/* section */

.section-main {
    width: 100%;
    margin-top: 10px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#foto-princ {
    width: 90%;

    margin: auto;
    margin-bottom: 20px;
}

.recentes img{
    width: 400px;
    margin: 25px;
}